[submodule "editor"]
	path = editor
	url = https://github.com/thetronjohnson/varnam-editor.git
[submodule "varnam-site/themes/hugo-swift-theme"]
	path = varnam-site/themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
