body {
    background: #eee;
    overflow: hidden;
}
.nav-wrapper {
    margin: 0 auto;
    padding: 0 60px;
    width: 90%;
}
#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 90px 0;
    width: 90%;
}
#input {
    height: 100% !important;
    font-size: 18px;
    overflow: auto;
} 
#suggestions {
    background: #fff;
    height: 100%;
}
#suggestions-content {
    counter-reset: item;
}
#suggestions li {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 15px;
}
#suggestions-content li::after, #suggestions-word::after {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
    float: right;
}
#suggestions-word::after {
    content: "0";
}
#settings .row {
    margin-bottom: 0;
}
.settings-icon{
    width:35%;
}